annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.6.0 ; python_version >= "3.10" and python_version < "3.13"
asgi-s3-response-middleware==0.0.4 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.35.34 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.35.34 ; python_version >= "3.10" and python_version < "3.13"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "3.13"
cramjam==2.8.4 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.115.0 ; python_version >= "3.10" and python_version < "3.13"
geojson-pydantic==1.1.1 ; python_version >= "3.10" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.6 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.27.2 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
mangum==0.19.0 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.10.7 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_version < "3.13"
pydantic-settings==2.5.2 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.9.2 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.10.2 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
starlette-cramjam==0.3.3 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.38.6 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.13"
