name: Run Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry

    - name: Install dependencies
      working-directory: ./space2stats_api/src
      run: |
        poetry install --with test

    - name: Run pre-commit
      working-directory: ./space2stats_api/src
      run: |
        poetry run pre-commit run --all-files

    - name: Run tests
      working-directory: ./space2stats_api/src
      run: |
        poetry run pytest -s -vv
      env:
        DB_HOST: localhost
        DB_PORT: 5432
        DB_NAME: mydatabase
        DB_USER: myuser
        DB_PASSWORD: mypassword
        DB_TABLE_NAME: space2stats